<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org/DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="top.genitalbean.itj.dao.mapper.ArticleMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="articleId" parameterType="top.genitalbean.itj.pojo.ArticleEntity">
        INSERT INTO itj_article(user_id, title, content, like_quantity, look_quantity,create_time,modify_time)
        VALUES (#{userId},#{title},#{content},0,0,#{createTime},#{modifyTime});
    </insert>
    <resultMap id="article" type="top.genitalbean.itj.pojo.vo.UserArticleVO">
        <id property="articleId" column="articleId"/>
        <result column="userId" property="userId"/>
        <result column="nickname" property="nickname"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="likeQuantity" property="likeQuantity"/>
        <result column="lookQuantity" property="lookQuantity"/>
        <result column="createTime" property="createTime"/>
        <result column="modifyTime" property="modifyTime"/>
        <collection property="tags" ofType="java.lang.String">
            <result column="tagName"/>
        </collection>
        <collection property="commonts" ofType="java.lang.String">
            <result column="commont"/>
        </collection>
    </resultMap>
    <!--根据用户ID查询个人文章-->
    <select id="queryByUserId" parameterType="java.lang.Integer" resultMap="article">
        SELECT itja.article_id AS articleId,itju.nickname AS nickname,itja.user_id AS userId,
        itja.title,itja.content,itja.like_quantity AS likeQuantity,
        itja.look_quantity AS lookQuantity ,itja.create_time AS createTime,
        itja.modify_time AS modifyTime,itjt.tag_name AS tagName,itjac.commont
        FROM itj_article itja LEFT JOIN itj_article_tag itjat ON itja.article_id=itjat.article_id
                              LEFT JOIN itj_tag itjt ON itjt.tag_id=itjat.tag_id
                              JOIN itj_user itju ON itja.user_id=itju.user_id
                              LEFT JOIN itj_article_commont itjac ON itja.article_id = itjac.article_id
        WHERE itja.user_id=#{userId};
    </select>
    <!--根据文章id查询文章-->
    <select id="queryByArticleId" parameterType="java.lang.Integer" resultMap="article">
        SELECT itja.article_id AS articleId,itju.nickname AS nickname,itja.user_id AS userId,
               itja.title,itja.content,itja.like_quantity AS likeQuantity,
               itja.look_quantity AS lookQuantity ,itja.create_time AS createTime,
               itja.modify_time AS modifyTime,itjt.tag_name AS tagName,itjac.commont
        FROM itj_article itja LEFT JOIN itj_article_tag itjat ON itja.article_id=itjat.article_id
                              LEFT JOIN itj_tag itjt ON itjt.tag_id=itjat.tag_id
                              JOIN itj_user itju ON itja.user_id=itju.user_id
                              LEFT JOIN itj_article_commont itjac ON itja.article_id = itjac.article_id
        WHERE itja.article_id=#{articleId};
    </select>
    <!--修改文章的查阅数-->
    <update id="updateLookQuantity" parameterType="java.lang.Integer">
        UPDATE itj_article SET look_quantity=look_quantity+1 WHERE article_id=#{articleId};
    </update>
    <!--文章点赞-->
    <update id="updateLikeQuantity" parameterType="java.lang.Integer">
        UPDATE itj_article SET like_quantity=like_quantity+1 WHERE article_id=#{articleId};
    </update>
    <!--查询所有文章-->
    <select id="queryArticles" resultMap="article">
        SELECT itja.article_id AS articleId,itju.nickname AS nickname,itja.user_id AS userId,
        itja.title,itja.content,itja.like_quantity AS likeQuantity,
        itja.look_quantity AS lookQuantity ,itja.create_time AS createTime,
        itja.modify_time AS modifyTime,itjt.tag_name AS tagName,itjac.commont
        FROM itj_article itja
        LEFT JOIN itj_article_tag itjat ON itja.article_id=itjat.article_id
        LEFT JOIN itj_tag itjt ON itjat.tag_id=itjt.tag_id
        LEFT JOIN itj_article_commont itjac ON itja.article_id = itjac.article_id
        JOIN itj_user itju ON itja.user_id=itju.user_id
        ORDER BY itja.like_quantity AND itja.look_quantity DESC;
    </select>
    <!--文章排行榜-->
    <select id="query" resultType="top.genitalbean.itj.pojo.ArticleEntity">
        SELECT article_id AS articleId,title FROM itj_article ORDER BY like_quantity AND look_quantity DESC LIMIT 0,10;
    </select>
    <!--删除文章-->
    <select id="deleteArticle" parameterMap="delete_article" statementType="CALLABLE">
        CALL proc_delete_article(?,?);
    </select>
    <!--删除文章存储过程的参数-->
    <parameterMap id="delete_article" type="java.util.Map">
        <parameter property="articleId" mode="IN" jdbcType="INTEGER"/>
        <parameter property="success" mode="OUT" jdbcType="INTEGER"/>
    </parameterMap>
    <!--根据关键字查询文章-->
    <select id="queryArticleByKeyword" resultType="top.genitalbean.itj.pojo.vo.KeywordArticleVO" parameterType="java.lang.String">
        SELECT itja.article_id AS articleId,title,nickname
        FROM itj_article itja JOIN itj_user itju ON itja.user_id=itju.user_id
        JOIN itj_article_tag itjat ON itja.article_id=itjat.article_id
        JOIN itj_tag itjt ON itjt.tag_id=itjat.tag_id WHERE nickname LIKE #{keyword}
        OR title LIKE #{keyword} OR tag_name LIKE #{keyword} GROUP BY articleId;
    </select>
</mapper>