@charset "utf-8";
*{
	margin: 0px;
	padding: 0px;
}
html{
	background:transparent url(../img/banner.jpg)  no-repeat;
}
#tagBtn{
	width: 20px;
	height: 20px;
	border: none;
	border-radius:50% ;
	background-image:url(../img/add.png) ;
	background-size: 20px 20px;
}
form *{
	float: left;
}
form>ul>li{
	display: inline-block;
	float: left;
	list-style: none;
	margin-right:5px ;
}
#imgBtn{
	width: 20px;
	height: 20px;
	border: none;
	border-radius:10% ;
	background-image:url(../img/image.png) ;
	background-position-y: 25px;
	background-size: 20px 30px;
}
#save{
	border: 1px solid gray;
	width: 20px;
	height: 20px;
	background-image:url(../img/save.png) ;
	background-position:19px 19px;
	background-size: 20px 20px;
}
#back{
	width: 20px;
	background-image:url(../img/back.png) ;
	background-color:rgba(255,255,255,0.75);
	background-position-y:19px;
	background-size: 20px 20px;
}
.article-tag{
	line-height: 20px;
	vertical-align: middle;
	display: inline-block;
}
.article-tag>input{
	display: none;
}
.article-tag>label{
	background-color: rgba(26, 181, 73, 0.4);
	border-radius:5px ;
	margin-right: 5px;
}
header{
	margin:20px 20px 10px 30px;
}
.showpage{
	clear: left;
	height: 580px;
	overflow: hidden;
}
.showpage *{
	float: left;
}
#title{
	width: 20%;
	margin-right: 5px;
	background-color: rgba(0, 0, 0, 0.04);
}
#content,#result{
	border: 1px solid gray;
	background-color: rgba(255, 255, 255,0.5);
}
#content{
	width: 47.8%;
	height: 95%;
	resize: none;
}
#result{
	width:50.5%;
	height: 95%;
}
a{
	text-decoration: none;
}
code{
	padding: 0;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin: 0;
	font-size: 85%;
	background-color: rgba(0, 0, 0, 0.04);
	border-radius: 3px;
}