body {
	/*overflow: hidden;*/
	background: -webkit-linear-gradient(#dbd5bd, #fffae6); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#dbd5bd, #fffae6); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#dbd5bd, #fffae6); /* Firefox 3.6 - 15 */
	background: linear-gradient(#dbd5bd, #fffae6); /* 标准的语法 */
}
#aboutUs a{
	color: black;
}
#aboutUs>h2{
	text-align: center;
}
#aboutUs>textarea{
	resize: none;
	width: 300px;
	height: 100px;
}
#aboutUs>button{
	height: 30px;
	padding: 5px 20px 5px 20px;
	border: 1px solid gray;
	margin-left: 120px;
}
#pay{
	display: none;
}
#pay>img{
	float: left;
	margin: 10px;
	width: 100px;
	height: 100px;
}
.leftPannel{
	margin-left: 5%;
	margin-top: 100px;
	position: fixed;
}
.leftPannel>.topPannel{
	background-color: rgba(255,255,255,0.3);
}
.leftPannel>.topPannel h3{
	text-align: center;
	color: black;
}
.leftPannel>.topPannel li{
	margin-top: 10px;
}
.leftPannel>.topPannel a{
	text-align: left;
	 color: black;
 }

.seratch{
	margin-bottom: 300px;
}
.seratch>input{
	padding: 10px 0px 10px 35px;
	border: 1px solid gray;
	background: rgba(255, 255, 255, 0.8) url(../img/serach.png) no-repeat 5px center;
	background-size: 10%;
	margin-bottom: 10px;
}
.seratch>ul{
	visibility: hidden;
}
.seratch>ul>li{
	color: white;
}
#jsi-cherry-container{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	z-index: -1;
}
#jsi-cherry-container>canvas{
	z-index: -1;
	position: fixed;
}