*{
	margin: 0px;
	padding: 0px;
	position: relative;
}
/* headre */
header>a {
	float: right;
	width: 30px;
	height: 30px;
	margin-top: 20px;
	margin-right: 40px;
}
header .home {
	background: url(../img/blog.png) center center no-repeat;
	background-size: 30px 30px;
}
header .login{
	background: url(../img/login.png) center center no-repeat;
	background-size: 30px 30px;
}
/*article*/
article>div{
	margin-top: 15%;
}
article>#autograph{
	margin-left: 20%;
	margin-top:20% ;
	float: left;
}
article>#autograph>p{
	font-size: 22px;
	margin: 20px;
}
article>.register{
	float: right;
	height: 350px;
	padding: 20px 40px 40px 40px;
	border-radius: 5%;
	background-color: rgba(255,255,255,0.5);
}
#regin-form>div>img{
	margin: 10px;
	margin-left:50px ;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
#regin-form>div>input{
	display: none;
}
#regin-form>input{
	border: 1px solid rgba(255,255,255,0.7);
	width: 80%;
	height: 30px;
	border-radius: 6px;
	margin: 10px auto 10px;
	text-align: 20px;
	padding:3px 3px 3px 40px;
}
#regin-form>input[type="text"]{
	background: url(../img/account.png) left center no-repeat;
	background-size: 30px 30px;
	background-position-x: 5px;
}
#regin-form>input[type="password"]{
	background: url(../img/password.png) left center no-repeat;
	background-size: 30px 30px;
	background-position-x: 5px;
}
#regin-form>button[type="button"]{
	border: 1px solid rgba(255,255,255,0.7);
	border-radius: 5px;
	margin-top: 15px;
	width: 100%;
	height: 40px;
	background-color: rgba(255,255,255,0.1);
}
/*footer*/
.copy-right{
	position: fixed;
	margin-top:48%;
	margin-left: 45%;
}